<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>4 People 1 Story!</title>
    <script src="https://code.jquery.com/jquery.js"></script>
  </head>
  <body>
  	{{{body}}}
  </body>
</html>