<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>4 People 1 Story</title>

	<link rel="stylesheet" href="/css/style.css" type="text/css"/>

	{{!-- Google Fonts --}}
  	<!--Import Google Icon Font-->
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	{{!-- CSS --}}
  	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link rel="stylesheet" href="css/style.css" media="screen" title="no title">	

	{{!-- Optimized for Mobile --}}
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<script src=""></script>
	</head>

	<body>
		{{{ body }}}
	</body>
</html>