<h1>Add a First Post!</h1>


</form class="create-form" action="/api/post" method="POST">

	<div class="form-group">
		<label for="firstPost">First Post:</label>
		<textarea type="text" id="firstPost" name="firstPost"></textarea>
	</div>

<form>

<button type="submit" id="createPost">Create Post</button>


<script src="/assets/js/post.js"></script>