<h1>Create a New Story!</h1>

<h2>Add a Title</h2>

<form class="create-form" action="/api/story" method="POST">

  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" id="newTitle" name="title">
  </div>

</form>


<button type="submit" id="createStory">Create Story</button>

<script src="/assets/js/story.js"></script>